.company {
  overflow: auto;
  height: 250px;
  padding: 12px 12px;
  border-radius: 5px;
  background-color: #248f8f;
  -ms-overflow-style: none;
}

.company::-webkit-scrollbar {
  display: none;
}

.company .box {
  padding-top: 10px;
  background-color: white;
  border: 2px solid white;
  height: 50px;
  padding: 8px 10px 12px 10px;
}

.company img {
  width: 50px;
  padding-bottom: 2px;
  border-radius: 50%;
  border: 1px solid white;
  object-fit: fill;
  text-align: center;
  object-position: center;
}

.company .company_name {
  font-size: 16px;
  color: #248f8f;
  padding-top: 4px;
  font-family: CaviarDreams Bold;
  overflow: hidden;
}

.custom-control-input, .custom-control-label {
  background-color: white;
  color: white;
  border: #248f8f;
}

label::after {
  border: 1px solid #248f8f;
  box-shadow: none !important;
  outline: none !important;
  color: white !important;
  cursor: pointer;
}

label::before {
  color: white !important;
  box-shadow: none !important;
  outline: none !important;
  background-color: #248f8f !important;
}

