<mat-sidenav-container class="sidenav-container" id="sidenav">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="text-center">
      Team
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']" routerLinkActive="router-link-active">
        <mat-icon>supervisor_account</mat-icon> Members
      </a>
      <a mat-list-item [routerLink]="['/routePath']" routerLinkActive="router-link-active">
        <mat-icon>assignment</mat-icon> To-Do
      </a>
      <a mat-list-item [routerLink]="['/routePath']" routerLinkActive="router-link-active">
        <mat-icon>bookmark</mat-icon> Reminders
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-toolber-container">
      <button class="toogle_button" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <section class="text-white w-100">
        <div class="row d-flex justify-content-end">
          <div class="col-sm-2">
            <div class="row">
              <div class="col-sm-12 profile">
                <div class="dropdown">
                  <button mat-button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="row">
              <div class="col-sm-12 profile">
                <div class="dropdown">
                  <button mat-button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
