<ng-template appPlaceholder></ng-template>

<section id="form">
  <div class="row justify-content-center">
    <div class="col-sm-12 heading-text">
      <h5> Recovery Password </h5>
    </div>

    <form [formGroup]="formData" role="form" name="formData" novalidate="" (ngSubmit)="passwordReset($event, formData.value)" class="col-sm-12" #myForm>

      <div class="form-group">

        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" autocomplete="off" formControlName="password" [formControl]="formData.get('password')">

        <small class="text-danger" *ngIf="formData.get('password').hasError('required') && (formData.get('password').dirty || formData.get('password').touched)">
          This field is required</small>

        <small class="text-danger" *ngIf="formData.get('password').hasError('pattern') && (formData.get('password').dirty || formData.get('password').touched)">Incorrect password</small>

      </div>

      <div class="form-group">

        <input type="password" class="form-control" id="confirmPassword" placeholder="Re-enter password" name="confirmPassword" autocomplete="off" formControlName="confirmPassword" [formControl]="formData.get('password')">

        <small class="text-danger" *ngIf="formData.get('confirmPassword').hasError('required') && (formData.get('confirmPassword').dirty || formData.get('confirmPassword').touched)">
          This field is required</small>

        <small class="text-danger" *ngIf="formData.get('confirmPassword').hasError('pattern') && (formData.get('confirmPassword').dirty || formData.get('confirmPassword').touched)">Incorrect password</small>

      </div>

      <button type="submit" class="btn btn-primary" [disabled]="formData.invalid">Recovery</button>
    </form>
  </div>
</section>
