<section id="form">
  <div class="row justify-content-center">
    <form class="col-sm-12">
      <div class="form-group">
        <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Enter password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <div class="links row justify-content-center">
        <div class="col-sm-7 links-routes">
          <span class="register" [routerLink]="['/register']">register</span>
          <span class="center-line-register-forgot">|</span>
          <span class="forgot" [routerLink]="['/forgot-password']">forgot password?</span>
        </div>
      </div>
    </form>
  </div>
</section>
  