<ng-template appPlaceholder></ng-template>

<section id="form">
  <div class="row justify-content-center">
    <div class="col-sm-12 heading-text">
      <h5>Forgot Password</h5>
    </div>

    <form [formGroup]="formData" role="form" name="formData" novalidate="" (ngSubmit)="forgot($event, formData.value)" class="col-sm-12">
      <div class="form-group">

        <input mat-input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter email" name="email" autocomplete="off" formControlName="email" required="">

        <small class="text-danger " *ngIf="formData.get('email').hasError('pattern') && (formData.controls['email'].dirty || formData.controls['email'].touched)">Email must be a valid email address.</small>

        <small class="text-danger" *ngIf="formData.controls['email'].hasError('required') && (formData.controls['email'].dirty || formData.controls['email'].touched)">Email is required*</small>

      </div>

      <button mat-flat-button type="submit" class="btn btn-primary" [disabled]="formData.invalid">Forgot password</button>

      <div class="links row justify-content-center">
        <div class="col-sm-9 links-routes">
          <span class="center-line-register-forgot">Remember password?</span>
          <span class="forgot" [routerLink]="['/login']">Login</span>
        </div>
      </div>
    </form>
  </div>
</section>

