<section id="task-list" class="col-sm-12">
  <div class="row">
    <mat-accordion class="w-100 text-white">
      <mat-expansion-panel class="accordian">
        <mat-expansion-panel-header class="arrow-expansion">
          <mat-panel-title>
            Move icon
          </mat-panel-title>
          <mat-panel-title>
            task list date and serial no
          </mat-panel-title>
          <mat-panel-description>
            Task list name
          </mat-panel-description>
          <mat-panel-description>
            task list date and serial no
          </mat-panel-description>
        </mat-expansion-panel-header>

        <section class="pend-done">
          <div class="row">
            <div class="col-sm-6">
              <h1>Pending</h1>
            </div>

            <div class="col-sm-6">
              <h1>Done</h1>
            </div>
          </div>
        </section>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="w-100 text-white">
      <mat-expansion-panel class="accordian">
        <mat-expansion-panel-header class="arrow-expansion">
          <mat-panel-title>
            Move icon
          </mat-panel-title>
          <mat-panel-title>
            task list date and serial no
          </mat-panel-title>
          <mat-panel-description>
            Task list name
          </mat-panel-description>
          <mat-panel-description>
            task list date and serial no
          </mat-panel-description>
        </mat-expansion-panel-header>

        <section class="pend-done">
          <div class="row">
            <div class="col-sm-6">
              <h1>Pending</h1>
            </div>

            <div class="col-sm-6">
              <h1>Done</h1>
            </div>
          </div>
        </section>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="w-100 text-white">
      <mat-expansion-panel class="accordian">
        <mat-expansion-panel-header class="arrow-expansion">
          <mat-panel-title>
            Move icon
          </mat-panel-title>
          <mat-panel-title>
            task list date and serial no
          </mat-panel-title>
          <mat-panel-description>
            Task list name
          </mat-panel-description>
          <mat-panel-description>
            task list date and serial no
          </mat-panel-description>
        </mat-expansion-panel-header>

        <section class="pend-done">
          <div class="row">
            <div class="col-sm-6">
              <h1>Pending</h1>
            </div>

            <div class="col-sm-6">
              <h1>Done</h1>
            </div>
          </div>
        </section>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="w-100 text-white">
      <mat-expansion-panel class="accordian">
        <mat-expansion-panel-header class="arrow-expansion">
          <mat-panel-title>
            Move icon
          </mat-panel-title>
          <mat-panel-title>
            task list date and serial no
          </mat-panel-title>
          <mat-panel-description>
            Task list name
          </mat-panel-description>
          <mat-panel-description>
            task list date and serial no
          </mat-panel-description>
        </mat-expansion-panel-header>

        <section class="pend-done">
          <div class="row">
            <div class="col-sm-6">
              <h1>Pending</h1>
            </div>

            <div class="col-sm-6">
              <h1>Done</h1>
            </div>
          </div>
        </section>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="w-100 text-white">
      <mat-expansion-panel class="accordian">
        <mat-expansion-panel-header class="arrow-expansion">
          <mat-panel-title>
            Move icon
          </mat-panel-title>
          <mat-panel-title>
            task list date and serial no
          </mat-panel-title>
          <mat-panel-description>
            Task list name
          </mat-panel-description>
          <mat-panel-description>
            task list date and serial no
          </mat-panel-description>
        </mat-expansion-panel-header>

        <section class="pend-done">
          <div class="row">
            <div class="col-sm-6">
              <h1>Pending</h1>
            </div>

            <div class="col-sm-6">
              <h1>Done</h1>
            </div>
          </div>
        </section>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="w-100 text-white">
      <mat-expansion-panel class="accordian">
        <mat-expansion-panel-header class="arrow-expansion">
          <mat-panel-title>
            Move icon
          </mat-panel-title>
          <mat-panel-title>
            task list date and serial no
          </mat-panel-title>
          <mat-panel-description>
            Task list name
          </mat-panel-description>
          <mat-panel-description>
            task list date and serial no
          </mat-panel-description>
        </mat-expansion-panel-header>

        <section class="pend-done">
          <div class="row">
            <div class="col-sm-6">
              <h1>Pending</h1>
            </div>

            <div class="col-sm-6">
              <h1>Done</h1>
            </div>
          </div>
        </section>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
