
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$team-ft-primary: mat-palette($mat-indigo);
$team-ft-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$team-ft-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$team-ft-theme: mat-light-theme($team-ft-primary, $team-ft-accent, $team-ft-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($team-ft-theme);

html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@font-face {
  font-family: CaviarDreams Bold;
  src: url('/assets/fonts/fonts/CaviarDreams_Bold.ttf');
}

@font-face {
  font-family: CaviarDreams;
  src: url('/assets/fonts/fonts/CaviarDreams.ttf');
}


// theming colors
$backgroundContainers: #404040;
$image-bg:  #47d1d1;

$input-color: #005266;
$button-color: #248f8f;
$input-font-size: 14px;

$input-height: 45px;
$button-height: 48px;


$font-family-caavier: CaviarDreams;
$font-family-caavier-bold: CaviarDreams Bold;
$font-weight-100: 100;
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;


$FooterBg: #022144;
$FooterText:#ffffff;

$headerBg: #147cb9;
$headerText:#ffffff;
$NavColor:#fff;
$NavColorHover:#0071b3;



$tabsColor: #5f70aa;
$tabsColorActive: #ffffff;
$tabsActiveBg: #1b043b;


$BlueBg: #1b043b;
$BlueHeaderBg: #35106a;

$headingBG: #35106a;
$Textwhite: #ffffff;
$Textlgtblue: #5f70aa;


$buttonBg: #e6a60b;
$buttonText: #fdfdfd;
$buttonBgHover: #35106a;
$buttonTextHover: #fdfdfd;



#public .container-fluid {
  background-color: $headerBg;
  height: 100vh;
  font-family: inherit;
}

#public .container-fluid .row .logo {
  text-align: center;
}

#public .container-fluid .row .logo img {
  height: 140px;
}

#public .container-fluid .row .col-boxes .router-box {
  margin-top: 130px;
  background-color: #f1eeee91;
  padding: 30px 20px;
  border-radius: 20px;
  border: 5px solid #f1eeee91;
}

#form .heading-text h5 {
  text-align: center;
  color: white;
  padding-bottom: 20px;
  font-size: 24px;
  font-family: $font-family-caavier-bold;
}

#form .heading-text p {
  font-size: 18px;
  text-align: center;
  font-family: $font-family-caavier;
  color: white;
  padding-bottom: 18px;
}

#form form input {
  padding: 2px 20px;
  border-radius: 20px;
  height: $input-height;
  border: 1px solid white;
  font-size: $input-font-size;
  font-weight: $font-weight-400;
  font-family: $font-family-caavier-bold;
  color: $BlueHeaderBg;
}

#form form input::placeholder {
  font-size: $input-font-size;
  color: $input-color;
}

#form form input:disabled {
  cursor: not-allowed;
  background-color: #faf5f5;
}

#form form input:focus {
  box-shadow: none;
}

#form form button {
  box-shadow: none;
  border-radius: 20px;
  width: 100%;
  color: white;
  font-family: $font-family-caavier-bold;
  font-size: $input-font-size;
  height: $button-height;
  outline: none;
  background-color: $headerBg;
  border: 1px solid $headerBg;
}

#form form button:disabled {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: not-allowed;
}

#form form button:focus {
  box-shadow: none;
  outline: none;
  outline: none;
}

#form form button:hover {
  background-color: $BlueHeaderBg;
  color: white;
  border: 3px solid $BlueHeaderBg;
}

#form form .links .links-routes {
  text-align: center;
  margin-top: 10px;
}

#form form .links .links-routes .register, #form form .links .links-routes .forgot {
  font-size: 14px ;
  font-weight: bolder !important;
  color: white;
  font-family: $font-family-caavier;
  cursor: pointer;
}

#form form .links .links-routes .register:focus, #form form .links .links-routes .forgot:focus {
  box-shadow: none;
  text-decoration: none;
  border: none;
  outline: none;
}


#form form .links .links-routes .center-line-register-forgot {
  font-size: 12px;
  font-weight: $font-weight-400;
  padding: 0 5px 0 5px;
  color: white;
}

#form form .form-group small {
  font-size: 12px;
  font-weight: bolder !important;
  color: white !important;
  margin-left: 15px;
  font-family: $font-family-caavier;
}


#registerd .row .col-sm-12 h3 {
  padding-top: 22.5px;
  font-size: 24px;
  font-family: $font-family-caavier-bold;
  color: white;
  text-align: center;
}

#registerd .row .col-sm-12 p {
  font-size: 16px;
  font-family: $font-family-caavier;
  font-size: 500 !important;
  color: $image-bg;
  padding: 10px 0 10px 0;
  text-align: center;
}

// spinner start
#loader-container {
  float: left;
  width: 100%;
  height: 100vh;
  background: $headerBg;
  position: fixed;
  z-index: 9999999999;
  font-family: $font-family-caavier-bold !important;
}

#loader-container h3 {
  font-family: CaviarDreams Bold !important;
  color: white;
  font-size: 44px;
}

#loader-container .spinner {
    margin: 40vh auto 0px;
    width: 150px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: unset !important;
  }

#loader-container .spinner > div {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.5s infinite ease-in-out both;
  animation: sk-bouncedelay 1.5s infinite ease-in-out both;
}

#loader-container .spinner .bounce1 {
  -webkit-animation-delay: -0.35s;
  animation-delay: -0.35s;
}

#loader-container  .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}


@-webkit-keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }

  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

// spinner end
